<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizations</title>
    <style>
        .visualization-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .visualization {
            width: 48%;
            /* Adjust as needed */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">2022-2023 LSC</h1>
    
    <div class="visualization-container">
        <div class="visualization">
            <!-- Embed the first visualization HTML here -->
            <h2>Visualization</h2>

            
            {{ combined_graph_html|safe }}
            

           
        </div>
       

    </div>
</body>

</html>