<!-- visualization_scores.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization Page</title>
</head>
<body>
    <h1>Visualization Page</h1>
    <h2>Individual Graphs</h2>
    {% for year, individual_graph_html in individual_graphs.items %}
        <h3>{{ year }}</h3>
        <div>{{ individual_graph_html | safe }}</div>
    {% endfor %}

    <h2>Trend Graphs</h2>
    {% for year, trend_graph_html in trend_graphs.items %}
        <h3>{{ year }}</h3>
        <div>{{ trend_graph_html | safe }}</div>
    {% endfor %}
</body>
</html>